@model IEnumerable<CmsShop.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Sklep kategorie";
}

<h2>Sklep kategorie</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj Nową Kategorię</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" class="loader-img" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">Brak kategorii do wyświetlenia</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section scripts{

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>
        $(function () {
            //Dodawanie nowej kategorii
            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            })

            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    alert("Nazwa kategorii musi mieć conajmniej 2 znaki!");
                    return false;
                }

                ajaxText.show();

                var url = "/admin/shop/AddNewCategory"

                $.post(url,
                    { catName: catName },
                    function (data) {
                        var response = data.trim();
                        if (response == 'tytulzajety') {
                            ajaxText.html("<span class='alert alert-danger'>Ten tytuł już istnieje!</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast",
                                    function () {
                                        ajaxText.html("<img src=/Content/img/ajax - loader.gif class=loader-img/>");
                                    });
                            },
                                2000);
                            return false;
                        } else {
                            if (!$("table#pages").length) {
                                location.reload();
                            } else {
                                ajaxText.html("<span class='alert alert-success'>Kategoria została dodana</span>")
                                setTimeout(function () {
                                    ajaxText.fadeOut("fast",
                                        function () {
                                            ajaxText.html(
                                                "<img src=/Content/img/ajax - loader.gif class=loader-img/>");
                                        });
                                },
                                    2000);

                                newCatTextInput.val("");
                                var toAppend = $("table#pages tbody tr:last").clone();
                                toAppend.attr("id", "id_" + data);
                                toAppend.find("#item_Name").val(catName);
                                toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);
                                table.append(toAppend);
                                table.sortable("refresh");
                            }
                        }
                    })
            })
            //########################################################################################################

            //Sotrowanie Drag & Drop

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderCategories";

                    $.post(url,
                        ids,
                        function (data) {
                        });
                }
            });
            //########################################################################################################

            // Potwierdzenie usuwania kategorii

            $("body").on("click", "a.delete", function () {
                if (!confirm("Potwierdzasz usunięcie kategorii"))
                    return false;
            });
            //########################################################################################################

            // Zmiana nazwy kategorii

            var orginalTextBoxValue;
            var $this;
            var singleEdit = false;
            $("table#pages input.text-box").dblclick(function () {
                if (singleEdit == false) {
                    orginalTextBoxValue = $(this).val();
                    $(this).attr("readonly", false);
                    singleEdit = true;
                    $this = $(this);
                }
                
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $this.blur();
                }
            })

            $("table#pages input.text-box").blur(function () {
                //var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/admin/shop/RenameCategory";

                if (newCatName.length < 2) {
                    alert("Nazwa kategorii musie mieć co najmniej 2 znaki.");
                    $this.attr("readonly", true);
                    return false;
                }

                $.post(url, { newCatName: newCatName, id: id }, function (data) {
                    var response = data.trim();
                    if (response == "tytulzajety") {
                        $this.val(orginalTextBoxValue);
                        ajaxdiv.html("<span class='alert alert-danger'>Ta kategoria juz istnieje.</span>");
                    } else {
                        ajaxdiv.html("<span class='alert alert-success'>Nazwa kategorii została zmieniona.</span>");
                    }

                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        })
                    }, 2000);

                }).done(function () {
                    $this.attr("readonly", true);
                    })
                singleEdit = false;
            })
        })
    </script>

}