table.sorting tr:not(.home){
    cursor: pointer;
}
.ui-state-highlight {
    border: 1px dashed #c0c0c0;
}

.loader-img {
    width : 15px;
    height: 15px;
}

span.ajax-text {
    display: none;
}

div.new-cat{
    margin-top: 30px;
    position: relative;
}

table.sorting.categories td {
    padding: 20px;
}

.ajaxdivtd {
    position: absolute;
}